---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import ToolsContainer from '../components/ToolsContainer.vue';
---

<DefaultLayout title="Tools">
  <section class="h-full bg-gradient-to-b from-gray-100 via-gray-200 to-gray-100 dark:bg-gradient-to-b dark:from-gray-800 dark:via-gray-900 dark:to-gray-800">
    <ToolsContainer client:only="vue" />
  </section>
</DefaultLayout>