---
const { title } = Astro.props;
import DarkModeToggle from "../components/DarkModeToggle.vue";
import "../styles/global.css"
---

<html lang="en" class="h-full">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Pranav Srivatsa's personal site." />
  <meta property="og:title" content="WhoAmI" />
  <meta property="og:description" content="A brief overview of Pranav Srivatsa's profile." />
  <!-- <meta property="og:image" content="/images/profile.jpg" /> -->
  <title>{title || "WhoAmI"}</title>
</head>

<body class="h-full transition-colors duration-300 ease-in-out bg-gradient-to-b from-gray-100 via-gray-200 to-gray-100 text-gray-800 font-sans dark:bg-gray-900 dark:text-gray-200">
  <div class="flex flex-col h-full">
    <header class="bg-primary text-white fixed top-0 left-0 w-full h-16 shadow-md z-50">
      <div class="container mx-auto flex justify-between items-center h-full px-4">
        <h1 class="text-2xl font-bold">{title || "WhoAmI"}</h1>
        <nav>
          <a href="/" class="mx-4 hover:text-gray-300 transition-colors">Home</a>
          <!-- <a href="#about" class="mx-4 hover:text-gray-300 transition-colors">About</a> -->
          <a href="/tools" class="mx-4 hover:text-gray-300 transition-colors">Tools</a>
          <DarkModeToggle client:load />
        </nav>
      </div>
    </header>

    <main class="flex-1 h-[calc(100vh-7rem)] mt-16">
      <slot />
    </main>

    <footer class="bg-primary text-white h-12 fixed bottom-0 left-0 w-full z-50 flex items-center justify-center">
      <p>&copy; 2025 Pranav Srivatsa | Built with Astro</p>
    </footer>
  </div>
</body>

</html>