---
const { title } = Astro.props;
import DarkModeToggle from "../components/DarkModeToggle.vue";
---

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Pranav Srivatsa's personal site." />
  <meta property="og:title" content="WhoAmI" />
  <meta property="og:description" content="A brief overview of Pranav Srivatsa's profile." />
  <!-- <meta property="og:image" content="/images/profile.jpg" /> -->
  <title>{title || "WhoAmI"}</title>
  <link rel="stylesheet" href="/src/styles/global.css" />
</head>

<body
  class="transition-colors duration-300 ease-in-out bg-gradient-to-b from-gray-100 via-gray-200 to-gray-100 text-gray-800 font-sans dark:bg-gray-900 dark:text-gray-200">
  <div class="flex flex-col">
    <header class="bg-primary text-white fixed top-0 left-0 w-full p-4 shadow-md">
      <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold">{title || "WhoAmI"}</h1>
        <nav>
          <a href="#about" class="mx-4 hover:text-gray-300 transition-colors">About</a>
          <DarkModeToggle client:load />
        </nav>
      </div>
    </header>

    <main class="flex-1 overview-y-auto">
      <slot />
    </main>

    <footer class="bg-primary text-white py-6 text-center fixed bottom-0 left-0 w-full">
      <p>&copy; 2025 Pranav Srivatsa | Built with Astro</p>
    </footer>
  </div>
</body>

</html>